body {
    font-family: 'Poppins', sans-serif;
}

* {
    padding: 4px;
    margin: 0px;
    transition: 0.8ms;
    scroll-behavior: smooth;
}

/* menubar  */
.menubar {
    color: 222222;
    display: flex;
    justify-content: space-between;
}

.logo-title {
    font-size: 28.75px;
    font-weight: bold;
}

.menu-items {
    display: flex;
    align-items: center;
    border-bottom: 2px solid black;

}

.menu-items h3 {
    list-style: none;
    padding-right: 5px;
    font-size: 18px;
}

.fa-grip-lines {
    font-size: 29px;
}

/* banner section  */
.container {
    position: relative;
    max-width: 90%;
    margin: 0 auto;
}

.container .content {
    position: absolute;
    top: 0;
    color: white;
    width: 100%;
    padding-top: 100px;
    padding-left: 100px;
    font-size: 30px;
}

/* smart-working-team  */
.smart-working-team {
    width: 60%;
    padding: 6% 0 6% 20%;
}

.team-main-text {
    font-size: 45px;
    padding-right: 20%;
}

.team-side-text {
    padding-left: 60%;
}

.team-details-card {
    display: flex;
    justify-content: space-between;
}

.team-bottom-card {
    display: flex;
    justify-content: center;
    font-size: 55px;
}

/* .procurement  */
.procurement-img {
    width: 100%;
    position: absolute;
}

.procurement-inside {
    position: relative;
    background: rgba(0, 0, 0, 0);
    margin-top: 8%;
    margin-left: 20%;
}

.procurement-inside h1 {
    font-size: 48px;
    margin-bottom: 7%;
}

.procurement-card {
    display: flex;
}

.procurement-each-card {
    padding: 0;
    margin: 15px;
    box-shadow: 5px 5px 8px #e9e5e5;
}

.procurement-each-card img {
    width: 300px;
}

.procurement-each-card h5 {
    padding: 15%;
    font-size: 20px;
}


/* Serve section  */
.serve-section {
    display: flex;
    margin-top: 5%;
    justify-content: space-between;
}

.serve-main{
    width: 100%;
}

.serve {
    position: relative;
    margin-left: 20%;
}

.svg {
    width: 10%;
}

.up {
    -webkit-text-stroke: 1px #353535;
     color: white;
     position: absolute;
     font-size: 3.5em;
     margin-top: 3%;
}
.middle {
    -webkit-text-stroke: 1px #353535;
     color: white;
     position: absolute;
     font-size: 3.5em;
     margin-top: 9%;
     background-color: white;
}
.below {
     color: black;
     position: absolute;
     font-size: 3.5em;
     margin-top: 14%;
     background-color: white;
}

.serve-main-text{
    display: flex;
    position: absolute;
    margin-top: 22%;
}

.serve-main-text h1{
    font-size: 50px;
    color: #f98c95;
}

.serve-main-text p{
    color: #9198A0;
    display: flex;
    align-items: flex-end;
}

.grid-container {
    display: grid;
    gap: 5px 10px;
    grid-template-columns: auto auto;
    margin-left: 18%;
    margin-right: 18%;
    position: absolute;
    margin-top: 25%;
    border-left: 2px solid #EC2232;
  }
  
  .grid-item {
    padding: 20px;
    font-size: 20px;
    text-align: left;
    display: flex;
  }

  .card-details{
    display: flex;
  }

  .card-details svg {
    width: 250px;
  }

  .card-details p {
    font-size: 10px;
  }

  /* below banner  */
  .below-banner-full {
    position: absolute;
    margin-top: 53%;
  }

  .below-banner {
    position: relative;
    max-width: 100%;
    margin: 0;
}

.below-banner .content {
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, 0.3);
    color: white;
    width: 80%;
    height: 76%;
    padding-top: 150px;
    padding-left: 250px;
    font-size: 30px;
    display: flex;
}

.content p{
    font-size: 12px;
}

.below-banner-main-svg{
    margin-left: 30%;
    width: 10%;
}

.below-banner-card{
    display: flex;
    margin-top: 10%;
}

.below-banner-card h6 {
    font-size: 15px;
}

.below-banner-card-div {
    width: 150px;
}

/* company info  */
.company {
    position: absolute;
    margin-top: 115%;
    padding: 0 5%;
}

.company h6{
    display: flex;
    justify-content: center;
    color: #E82232;
    font-size: 15px;
}

.company-grid-container {
    display: grid;
    gap: 15px 50px;
    grid-template-columns: auto auto auto auto auto;
    margin-left: 10%;
    margin-right: 20%;
    margin-top: 5%;
  }
  
  .company-grid-item {
    width: 150px;
    height: 50px;
  }

  /* get-in-touch  */
  .get-in-touch {
    position: absolute;
    margin-top: 140%;
    width: 100%;
    display: flex;
  }

  .blue{
    background-color: #0E3466;
    width: 40%;
    padding: 8%;
  }

  .blue h1{
    color: white;
    border-bottom: 2px solid white;
    display:inline-block;
    margin-bottom: 3%;
  }

  .input {
    background-color: white;
    color: gray;
    padding: 10px;
    border-radius: 3px;
    display: flex;
    margin-bottom: 3%;
    width: 80%;
  }

  .submit{
    color: white;
    background-color: #EC2232;
    padding: 15px 40px;
    border-radius: 20px;
  }

  .pink{
    width: 50%;
    background-color: #F8F8F8;
    position: relative;
  }

  .pink img{
    position: absolute;
    width: 100%;
    top: 10%;
    left: -20%;
  }

  /* footer  */
  footer {
    position: absolute;
    margin-top: 186%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 3% 8%;
    width: 83%;
  }

  footer li {
    font-size: 10px;
  }



/* responsive mobile  */
@media only screen and (max-width: 360px) {

}